.main-background{
    background-color: #1f1f1f;
}

.header-world{
    color: #c9ec83
}

.the-poke-side{
    font-size: 3vh;
    color:yellowgreen
}



.header-login{
    color: rgb(0, 132, 255)
}

.header-signup{
    color: rgb(0, 132, 255)
}

.get-pokemone-data{
    margin-top: 2vh;
    color:yellowgreen
}

.caption-text{
    font-size:32px
}

.pokemon_deck_warning{
    font-size: 16px;
    color: red
}

.opponents_deck{
    color: #a2a4b2;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh
}

.battle_button{
    text-align:center;
    padding-bottom:3vh

}