.main-background{
    background-color: #1f1f1f;
}

.header-world{
    color: #c9ec83
}

.the-poke-side{
    font-size: 3vh;
    color:yellowgreen
}



.header-login{
    color: rgb(0, 132, 255)
}

.header-signup{
    color: rgb(0, 132, 255)
}

.get-pokemone-data{
    margin-top: 2vh;
    color:yellowgreen
}

.caption-text{
    font-size:32px
}

