{% extends 'base.html' %}
{% block content %}
{% for post in posts%}
<a class="card mx-auto" style="width: 18rem;">
    <img src="{{post.front_shiny}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.name.title()}}</h5>
      <p class="card-text"> Ability: {{post.ability.title()}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Attack Base Stat: {{post.attack_base_stat}}</li>
        <li class="list-group-item">HP: {{post.hp_base_stat}}</li>
        <li class="list-group-item">Defense Base Stat: {{post.defense_base_stat}}</li>
        <li class="list-group-item">Belongs to user #{{post.user_id}}</li>
    </ul>
</a>
{% endfor %}
{% endblock %}