{% extends 'base.html' %}
{% block content %}
    <form class="form-inline mt-3" method="POST">
        
        {{form.pokemon(class="form-control mb-2 mr-sm-2", placeholder="Enter Pokemon")}}
        {{form.submit(class="btn btn-primary mb-2", value= 'Submit')}}

        {{form.hidden_tag()}}
      </form>
        <div class="card" style="width:400px">
          <div class="card-body">
            {%for p in poke%}
            <h4 class="card-title">name: {{p.name.title()}}</h4>
            <img class="card-img-top" src= {{p.url_sprite}} alt="Card image" style="width:100%">
            <p class="card-text">Ability: {{p.ability}}</p>
            <p class="card-text">attack_base_state: {{p.attack_base_stat}} </p>
            <p class="card-text">hp_base_stat: {{p.hp_base_stat}}</p>
            <p class="card-text">defense_base_stat: {{p.defense_base_stat}}</p>
          </div>
        </div>
        {%endfor%}
{% endblock %}

