{% extends 'base.html' %}
{% block content%}
<div class="tester">
    <p>{% form %}</p>
</div>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/151.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">MEW</h4>
              <p class="card-text">ability: synchronize</p>
              <p class="card-text">attack_base_state: 100</p>
              <p class="card-text">hp_base_stat: 100</p>
              <p class="card-text">defense_base_stat: 100</p>
            </div>
          </div>
{% endblock %}



